<link href='//cdn.bootcss.com/github-markdown-css/2.4.1/github-markdown.min.css' rel='stylesheet'>

<div class='edit-layout'>
  <md-card class='editor-wrapper'>
    <input class='title' id='article-title' placeholder="标 题" >
    <hr/>
    <div class='toolbar'>
      <button md-icon-button mdTooltip='预览' (click)='contentChange()' fxHide.xs>
        <md-icon>visibility</md-icon>
      </button>
    </div>
    <div class='content-before' fxHide='{{check}}'>
      <textarea id='content-before'>
## Markdown

Markdown is a text formatting syntax inspired on plain text email. In the words of its creator, John Gruber:

The idea is that a Markdown-formatted document should be publishable as-is, as plain text, without looking like it’s been marked up with tags or formatting instructions.
Syntax Guide

Strong and Emphasize

*emphasize*    **strong**
_emphasize_    __strong__

```C
#include "stdio.h"

int main() {
  return 0;
}
```
      </textarea>
    </div>
    <div class='content-after' fxHide='{{!check}}'>
      <div id='content-after' class='markdown-body'></div>
    </div>
    <div class='submit'>
      <button md-raised-button class='submit-button' (click)='submit()'>发 布</button>
    </div>
  </md-card>
</div>
