.edit-layout
  height: 100%
  padding: 16px 13.5%
  @media (max-width: 960px)
    padding: 16px 13%
  @media (max-width: 600px)
    padding: 8px

  .editor-main-wrapper
    padding: 16px
    margin-bottom: 16px

    .title
      width: 100%
      font-size: 24px
      padding: 8px 0px
      outline: 0
      border: none
      border-bottom: 1px solid #f2f2f2

    .toolbar
      margin: 4px 0px

      md-icon
        color: rgb(114, 114, 114)

    .content
      position: relative
      overflow: hidden
      padding: 0px
      width: 100%
      height: 420px

      textarea
        padding: 8px
        font-size: 16px
        width: calc(100% - 18px)
        height: 400px
        border: 1px solid #f2f2f2
        outline: 0
        resize: none
        z-index: 0

      .content-after
        padding: 8px
        background: white
        position: absolute
        top: 0
        left: 100%
        border: 1px solid #f2f2f2
        width: calc(100% - 18px)
        overflow: auto
        height: 400px
        z-index: 10
        -webkit-transition: left 0.2s ease
        -moz-transition: left 0.2s ease
        -ms-transition: left 0.2s ease
        transition: left 0.2s ease

      .content-after-active
        left: 0

  .editor-wrapper
    padding: 0px

    .title
      margin-bottom: 8px
      font-size: 22px

    #selected-image
      height: 135px
      width: 240px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      display: inline-block

    .img-upload-button
      height: 135px
      width: 240px
      text-align: center
      line-height: 135px
      color: #FFFFFF
      background: rgba(0, 0, 0, 0.2)
      display: inline-block
      vertical-align: top
      position: absolute
      transition: background 0.3s
      -moz-transition: background 0.3s
      -webkit-transition: background 0.3s
      transition-timing-function: ease-in-out
      -moz-transition-timing-function: ease-in-out
      -webkit-transition-timing-function: ease-in-out

    .img-upload-button:hover
      background: rgba(0, 0, 0, 0.4)

    .delete-button
      color: rgb(114, 114, 114)
      vertical-align: bottom
      display: inline-block

    .cover-img
      padding: 16px

      #article-image
        display: none

    .digest
      padding: 0px 16px
      width: calc(100% - 32px)

      textarea
        padding: 8px
        font-size: 16px
        width: calc(100% - 18px)
        border: 1px solid #f2f2f2
        outline: 0
        resize: none
        z-index: 0

      .mat-hint
        color: rgb(200, 200, 200)
        position: relative

    .submit
      padding: 16px
      text-align: right

      .submit-button
         background-color: #2196F3
         color: white

    .update
      padding: 16px
      text-align: right

      .update-button
         background-color: #2196F3
         color: white
