<link href='//cdn.bootcss.com/github-markdown-css/2.4.1/github-markdown.min.css' rel='stylesheet'>

<div class='edit-layout'>
  <md-card class='editor-main-wrapper'>
    <input class='title' maxlength='20' id='article-title' placeholder='文章标题'>
    <div class='toolbar flex-container' fxLayout='row'>
      <button md-icon-button mdTooltip='{{mode}}' (click)='contentChange()'>
        <md-icon *ngIf='mode == "预 览"'>visibility</md-icon>
        <md-icon *ngIf='mode != "预 览"'>mode_edit</md-icon>
      </button>
      <div class='flex-item' fxFlex fxHide.xs></div>
      <button md-icon-button mdTooltip='加 粗'><md-icon>format_bold</md-icon></button>
      <button md-icon-button mdTooltip='加 斜'><md-icon>format_italic</md-icon></button>
      <button md-icon-button mdTooltip='引 用'><md-icon>format_quote</md-icon></button>
      <button md-icon-button mdTooltip='代 码'><md-icon>code</md-icon></button>
      <button md-icon-button mdTooltip='链 接'><md-icon>insert_link</md-icon></button>
      <button md-icon-button mdTooltip='无序列表'><md-icon>format_list_bulleted</md-icon></button>
      <button md-icon-button mdTooltip='有序列表'><md-icon>format_list_numbered</md-icon></button>
    </div>
    <div class='content'>
      <textarea id='content-before'>
## 用 Markdown 完成你的文章内容

在 Ferrets 博客，你可以用你的方式畅所欲言。

* 点击上面的“眼睛”按钮预览文章
* 你可以使用加粗字或斜体字：*斜体* _emphasize_ 、 **加粗** __strong__ 、 ***斜体加粗*** ___both___
* 你可以高亮你的代码：

```C
#include "stdio.h"

int main() {
  return 0;
}
```

* 你可以在 [这里](https://github.com/younghz/Markdown) 找到更多关于 Markdown 的信息。

      </textarea>
      <div id='content-after' class='markdown-body content-after'></div>
    </div>
  </md-card>

  <md-card class='editor-wrapper'>
    <div class='cover-img'>
      <div class='title'>封面图片</div>
      <label for='article-image' class='img-upload-button'></label>
      <div id='selected-image' [style.background-image]="'url(' + imageurl + ')'">
        <span *ngIf='imageurl == null'>浏览图片</span>
        <span class='changeImage' *ngIf='imageurl != null'>更改图片</span>
      </div>
      <input type='file' accept='image/x-png, image/jpeg' (change)='changeListner($event)' id='article-image'>
      <button md-icon-button (click)='removeCurrentImage()' class='delete-button'><md-icon>delete</md-icon></button>
    </div>
    <div class='digest'>
      <div class='title'>文章摘要</div>
      <textarea id='digest-content' #text maxlength='60'></textarea>
      <md-hint align='end'>{{text.value.length}} / 60</md-hint>
    </div>
    <div class='submit' fxHide='{{update}}'>
      <button md-raised-button class='submit-button' (click)='submitArticle()' id='submit-button'>发 布</button>
    </div>
    <div class='update' fxHide='{{!update}}'>
      <button md-raised-button class='update-button' (click)='updateArticle()' id='update-button'>更 新</button>
    </div>
  </md-card>
</div>
