<md-grid-list cols="3" rowHeight="400px">
  <md-grid-tile class="right" [colspan]="2">
    <md-card class="article">
      <md-card-header>
        <md-card-title>玫瑰即玫瑰，花香无意义</md-card-title>
        <md-card-subtitle>2017年1月1日</md-card-subtitle>
      </md-card-header>
      <img md-card-image src=".././img/article1.jpeg">
      <md-card-content>
        <p>
          美好的东西都是无需解释的。
        </p>
      </md-card-content>
      <hr />
      <md-card-actions>
        <button md-button>> 阅读全文</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>

  <md-grid-tile class="left" [colspan]="1">
    <md-card class="tag">
      <md-card-header>
        <md-card-title>最新文章</md-card-title>
      </md-card-header>
      <md-card-content>
        <p>
          玫瑰即玫瑰，花香无意义
        </p>
        <p>
          玫瑰即玫瑰，花香无意义
        </p>
      </md-card-content>
    </md-card>
  </md-grid-tile>

  <md-grid-tile class="right" [colspan]="2">
    <md-card class="article">
      <md-card-header>
        <md-card-title>玫瑰即玫瑰，花香无意义</md-card-title>
        <md-card-subtitle>2017年1月1日</md-card-subtitle>
      </md-card-header>
      <img md-card-image src=".././img/article1.jpeg">
      <md-card-content>
        <p>
          美好的东西都是无需解释的。
        </p>
      </md-card-content>
      <hr />
      <md-card-actions>
        <button md-button>> 阅读全文</button>
      </md-card-actions>
    </md-card>
    <md-divider></md-divider>
  </md-grid-tile>


</md-grid-list>
