.articles-container
  padding: 0px 20px

  .article
    margin-bottom: 15px

    p
      color: rgb(114, 114, 114)

    .article-synopsis
      line-height: 20px

    md-card-actions
      text-align: right
      color: rgb(114, 114, 114)

.tag-container
  position: fixed
  left: 61.4%
  @media (max-width: 960px)
    display: none !important

  .tag
    margin-bottom: 16px
    padding: 0px

    .tag-item
      width: 100%
      text-align: left
      font-weight: normal
      border-radius: 0px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: rgb(114, 114, 114)

    .tag-footer
      height: 8px
      width: 100%

    md-card-header
      text-align: center

    md-card-content
      padding: 20px
      margin: 0px
