.articles-container
  padding: 0px 20px

  .article-date-container
    width: 100%
    margin: 8px 0px 16px 0px
    height: 40px
    position: relative
    right: 20px

    .article-date-icon
      color: #FFFFFF
      background-color: #2196F3

    .article-date
      color: rgb(114, 114, 114)
      line-height: 40px
      display: inline-block
      vertical-align: top
      margin-left: 8px

  .article
    margin-bottom: 15px

    .article-synopsis
      color: rgb(114, 114, 114)
      line-height: 20px

    md-card-actions
      text-align: right
      color: rgb(114, 114, 114)

.tag-container
  position: fixed
  left: 62%

  .tag
    margin-bottom: 16px
    padding: 0px

    .tag-item
      width: 100%
      text-align: left
      font-weight: normal
      border-radius: 0px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: rgb(114, 114, 114)

    .tag-footer
      height: 8px
      width: 100%

    md-card-header
      text-align: center

    md-card-content
      padding: 20px
      margin: 0px

  .next-page-button-container
    text-align: right

    button
      color: #FFFFFF
      background-color: #E91E63
