.article
  margin-bottom: 15px

  // md-card-header
  //   md-card-title
  //     overflow: hidden
  //     text-overflow: ellipsis
  //     white-space: nowrap

  md-card-actions
    border-top: 1px solid #ddd

.tag
  margin-bottom: 15px
  padding: 0
  border-width: 2px
  border-style: solid

  md-card-header
    text-align: center

  md-card-content
    padding: 20px

.tag1
  border-color: #F44336

  md-card-header
    color: #B71C1C
    background-color: #F44336

.tag2
  border-color: #2196F3

  md-card-header
    color: #0D47A1
    background-color: #2196F3
