.loader-container
  width: 100%
  height: 160px
  display: flex
  align-items: center
  justify-content: center

.article-layout
  height: 100%
  padding: 16px 13.5%
  @media (max-width: 960px)
    padding: 16px 13%
  @media (max-width: 600px)
    padding: 8px

  .article-container
    padding: 0px
    margin-bottom: 16px

    .article-image
      height: 280px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      position: relative
      @media (max-width: 600px)
        height: 160px

      .article-header
        width: calc(100% - 32px)
        height: 61.8%
        position: absolute
        bottom: 0
        left: 0
        background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0))

        .article-header-title
          position: absolute
          bottom: 0
          left: 0
          padding: 16px
          color: #FFFFFF
          font-size: 32px
          text-shadow: 0px 0px 2px #000000

    .article-header
      padding: 16px

      .article-header-title
        font-size: 32px

    .filler
      height: 16px

    .article-author-container
      padding: 8px 16px

      .author-avatar
        width: 48px
        height: 48px
        border-radius: 24px
        background-repeat: no-repeat
        background-position: center center
        background-size: cover

      .other-info
        padding-left: 16px

        .author-name
          font-size: 1.2em
          height: 24px
          line-height: 24px

        .article-date
          color: rgb(114, 114, 114)
          font-size: 0.8em
          height: 24px
          line-height: 24px

    .article-body
      padding: 16px

      .content
        h1, h2, h3, h4, h5, h6
          font-weight: normal !important

  .comments-container
    padding: 0px

    .comments-title-container
      padding: 16px

      span
        font-size: 32px

    .new-comment
      padding: 16px

      .comment-avatar
        width: 48px
        height: 48px
        border-radius: 24px
        background-repeat: no-repeat
        background-position: center center
        background-size: cover

      .default-avatar
        background-image: url('/assets/images/default-avatar.jpg')

      textarea
        appearance: none
        -moz-appearance: none
        -webkit-appearance: none
        border-radius: 0px
        margin-left: 16px
        padding: 8px
        border: 1px solid rgb(242, 242, 242)
        outline: 0
        resize: none
        font-size: 14px

      .goto-sign-in-container
        margin-left: 16px
        text-align: center
        border: 1px solid rgb(242, 242, 242)
        height: 100px
        display: flex
        align-items: center
        justify-content: center

      .sign-in-button
        background-color: #2196F3
        color: white

    .edit-tool
      text-align: right
      padding-bottom: 16px

      .send-button
        margin-right: 16px
        background-color: #2196F3
        color: white

    hr
      margin: 0px 16px 16px 16px
      border-top: rgb(242, 242, 242)

    .comment
      padding: 0px 16px 16px 16px

      .comment-avatar
        width: 48px
        height: 48px
        border-radius: 24px
        background-repeat: no-repeat
        background-position: center center
        background-size: cover

      .comment-main
        padding-left: 16px

        .comment-info
          display: flex
          font-size: 12px
          color: rgb(114, 114, 114)
          margin: 0px 10px 8px 0px
          line-height: 20px

          .comment-username
            font-size: 14px
            color: #2196F3
            font-weight: 500
            margin-right: 2%

          .comment-time
            vertical-align: middle

        .comment-message
          font-size: 14px

        .comment-likes
          font-size: 14px
          color: rgb(114, 114, 114)
          text-align: right

          span
            line-height: 40px
            display: inline-block
            vertical-align: middle
