.article-layout
  height: 100%
  padding: 16px 13.5% 0 13.5%
  @media (max-width: 960px)
    padding: 16px 13% 0 13%
  @media (max-width: 600px)
<<<<<<< Updated upstream
    padding: 16px 8px
=======
    padding: 0px 8px

  .article-header
    height: auto

    .article-header-title
      line-height: 48px

    .article-header-data
      position: relative
      color: rgb(114,114,114)

  .img-container
    margin-left: -24px
    margin-right: -24px

    .article-img
      width: 100%
      height: auto
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      position: relative
>>>>>>> Stashed changes
