.toolbar
  background-color: rgb(255, 255, 255)
  font-size: 14px
  padding: 0px 32px 0px 32px

  .ferrets-blog-logo
    width: 40px
    height: 40px
    background-image: url('./assets/images/ferrets-blog-logo.png')
    background-size: 40px

  .toolbar-filler
    flex: 1 1 auto

  md-icon
    color: rgb(114, 114, 114)
    font-size: 22px

  .toolbar-icon-add
    margin: 0px 4px 0px 16px

  .user-avatar
    width: 40px
    height: 40px
    border-radius: 20px
    background-image: url('./assets/images/user-avatar.jpg')
    background-size: 40px
    margin-left: 16px

.ferrets-blog-framework
  height: 100%
  padding: 32px
  background-color: rgb(242, 242, 242)
