<md-toolbar class='toolbar flex-container'>
  <div class='ferrets-blog-logo' (click)='gotoHome()'></div>
  <span class='ferrets-blog-title'>Ferrets</span>
  <span class='toolbar-filler'></span>

  <!-- 在非窄屏上显示的 toolbar 组件 -->
  <md-icon class='toolbar-search-button' (click)='search()' fxHide.xs>search</md-icon>
  <md-input-container class='toolbar-search-input' [style.width]='searchInputWidth + "px"' fxHide.xs>
    <input md-input #toolbarSearchInput>
  </md-input-container>
  <md-icon class='toolbar-close-button' [style.opacity]='searchCloseButtonOpacity' (click)='close()' fxHide.xs>close</md-icon>
  <button md-icon-button class='toolbar-icon-add' mdTooltip='发表文章' *ngIf='user' fxHide.xs>
    <md-icon>note_add</md-icon>
  </button>
  <button md-icon-button mdTooltip='修改信息' *ngIf='user' (click)='gotoProfile()' fxHide.xs>
    <md-icon>settings</md-icon>
  </button>
  <button md-fab [mdMenuTriggerFor]='userAvatarMenu' class='user-avatar' *ngIf='user' [style.background-image]="'url(' + user.userAvatarUrl + ')'" fxHide.xs></button>
  <md-menu #userAvatarMenu='mdMenu' fxHide.xs>
    <button md-menu-item (click)='signOut()'>退出登录</button>
  </md-menu>
  <button md-button class='toolbar-button' *ngIf='user == null' (click)='login("sign-up")' fxHide.xs>注 册</button>
  <button md-button class='toolbar-button' *ngIf='user == null' (click)='login("sign-in")' fxHide.xs>登 录</button>

  <!-- 在窄屏上显示的 toolbar 组件 -->
  <button md-fab [mdMenuTriggerFor]='toolbarMenu' class='user-avatar' *ngIf='user' [style.background-image]="'url(' + user.userAvatarUrl + ')'" fxHide.gt-xs></button>
  <button md-icon-button fxHide.gt-xs [mdMenuTriggerFor]='toolbarMenu' *ngIf='user == null'>
    <md-icon>menu</md-icon>
  </button>
  <md-menu #toolbarMenu='mdMenu'>
    <button md-menu-item *ngIf='user == null' (click)='login("sign-up")'>注 册</button>
    <button md-menu-item *ngIf='user == null' (click)='login("sign-in")'>登 录</button>
    <button md-menu-item *ngIf='user'>
      <md-icon>note_add</md-icon>
      <span>发表文章</span>
    </button>
    <button md-menu-item *ngIf='user'>
      <md-icon>settings</md-icon>
      <span>修改信息</span>
    </button>
    <button md-menu-item *ngIf='user' (click)='signOut()'>
      <md-icon>exit_to_app</md-icon>
      <span>退出登录</span>
    </button>
  </md-menu>
</md-toolbar>

<!-- 占位 -->
<div class='flex-container holy-grail' fxLayout='column'>
  <md-toolbar></md-toolbar>

  <div class='flex-item ferrets-blog-layout' fxFlex='100%'>
    <router-outlet></router-outlet>
  </div>

  <div class='footer'>
    <hr>
    <a href='https://angular.io/'>Angular 2</a> · <a href='https://cli.angular.io/'>Angular CLI</a> · <a href='http://expressjs.com/'>Express</a> · <a href='https://www.mongodb.com/'>MongoDB</a> · <a href='https://www.npmjs.com/'>npm</a> · <a href='https://nodejs.org/en/'>Node.js</a> · <a href='https://github.com/'>Github</a>
    · <a href='http://stackoverflow.com/'>stackoverflow</a> · <a href='https://www.qcloud.com/'>腾讯云</a> · <a href='https://www.zhihu.com/'>知乎</a> · <a href='http://www.zealer.com/'>ZEALER</a> · <a href='http://www.feng.com/'>威锋网</a>
    <br>
    <a class='record' href='http://www.miitbeian.gov.cn'>Ferrets 博客 / 粤ICP备16077413号-2</a>
  </div>
</div>
