<!-- 用户注册界面 -->
<div class='login-layout' *ngIf='router.url == "/login/sign-up"'>
  <div class='login-logo'></div>
  <h2 class='login-title'>欢迎加入 Ferrets 博客</h2>
  <md-card class='login-card'>
    <form #signupInfo='ngForm' class='info-form'>
      <md-input-container class='login-input'>
        <input md-input placeholder='用户名' name="up-username">
      </md-input-container>
      <md-input-container class='login-input'>
        <input md-input placeholder='电子邮箱' type='email' name="up-e-mail">
      </md-input-container>
      <md-input-container class='login-input'>
        <input md-input placeholder='密 码' type='password' name="up-password">
      </md-input-container>
      <button md-raised-button class='sign-up-button' (click)='signupCheck(signupInfo.value)'>注 册</button>
    </form>
  </md-card>
  <md-card>
    已有 Ferrets 博客账号？
    <button md-button class='goto-sign-in-button' (click)='login("sign-in")'>直接登录</button>
  </md-card>
</div>
<!-- 用户登录界面 -->
<div class='login-layout' *ngIf='router.url == "/login/sign-in"'>
  <div class='login-logo'></div>
  <h2 class='login-title'>欢迎来到 Ferrets 博客</h2>
  <md-card class='login-card'>
    <form #signinInfo='ngForm' class='info-form'>
      <md-input-container class='login-input'>
        <input md-input placeholder='用户名或电子邮箱' type="text" name="in-username">
      </md-input-container>
      <md-input-container class='login-input'>
        <input md-input placeholder='密 码' type='password' name="in-password">
      </md-input-container>
      <button md-raised-button class='sign-up-button' (click)='signinCheck(signinInfo.value)'>登 录</button>
    </form>
  </md-card>
  <md-card>
    没有 Ferrets 博客账号？
    <button md-button class='goto-sign-in-button' (click)='login("sign-up")'>账号注册</button>
  </md-card>
</div>
