<!-- 用户注册界面 -->
<div class='login-layout' *ngIf='router.url == "/login/sign-up"'>
  <div class='login-logo'></div>
  <h2 class='login-title'>欢迎加入 Ferrets 博客</h2>
  <md-card class='login-card'>
    <form #signUpInfo='ngForm' class='info-form'>
      <md-input-container class='login-input'>
        <input mdInput placeholder='用户名' [ngModel] name='username_' (blur)='signUpValidator(signUpInfo.value)'>
      </md-input-container>
      <md-input-container class='login-input'>
        <input mdInput placeholder='电子邮箱' [ngModel] type='email' name='email_' (blur)='signUpValidator(signUpInfo.value)'>
      </md-input-container>
      <md-input-container class='login-input'>
        <input mdInput placeholder='密 码' [ngModel] type='password' name='password_' (blur)='signUpValidator(signUpInfo.value)'>
      </md-input-container>
      <div class='error-message'>{{errorMessage}}</div>
      <button md-raised-button class='sign-up-button' (click)='signUpCheck(signUpInfo.value)'>注 册</button>
    </form>
  </md-card>
  <md-card>
    已有 Ferrets 博客账号？
    <button md-button class='goto-sign-in-button' (click)='login("sign-in")'>直接登录</button>
  </md-card>
</div>
<!-- 用户登录界面 -->
<div class='login-layout' *ngIf='router.url == "/login/sign-in"'>
  <div class='login-logo'></div>
  <h2 class='login-title'>欢迎来到 Ferrets 博客</h2>
  <md-card class='login-card'>
    <form #signInInfo='ngForm' class='info-form'>
      <md-input-container class='login-input'>
        <input mdInput placeholder='用户名或电子邮箱' type='text' name='username' [ngModel]='username' (blur)='signInValidator(signInInfo.value)'>
      </md-input-container>
      <md-input-container class='login-input'>
        <input mdInput placeholder='密 码' type='password' name='password' [ngModel] (blur)='signInValidator(signInInfo.value)'>
      </md-input-container>
      <div class='error-message'>{{errorMessage}}</div>
      <button md-raised-button class='sign-up-button' (click)='signInCheck(signInInfo.value)'>登 录</button>
    </form>
  </md-card>
  <md-card>
    没有 Ferrets 博客账号？
    <button md-button class='goto-sign-in-button' (click)='login("sign-up")'>账号注册</button>
  </md-card>
</div>
