<div class='profile-layout' *ngIf='user'>
  <div class='basic-info-container'>
    <md-card>
      <div class='user-info-container flex-container' fxLayout='row'>
        <div class='flex-item user-avartar-container' fxFlex='120px'>
          <label for='user-avartar' class='user-avartar-cover'>更换头像</label>
          <input type='file' accept='image/x-png, image/jpeg' (change)='avatarChange($event)' id='user-avartar'>
          <div class='user-avartar' [style.background-image]="'url(' + user.userAvatarUrl + ')'"></div>
        </div>
        <div class='flex-item username-container' fxFlex>
          <div>
            <span class='username'>{{user.username}}</span>
            <span class='email'>{{user.email}}</span>
          </div>
        </div>
      </div>
      <div class='flex-container' fxLayout='row'>
        <div class='flex-item achievement-item' fxFlex mdTooltip='总字数'>
          <md-icon>create</md-icon>
          <span>{{user.totalCharacters}}</span>
        </div>
        <div class='flex-item achievement-item' fxFlex mdTooltip='总阅读量'>
          <md-icon>remove_red_eye</md-icon>
          <span>{{user.totalReading}}</span>
        </div>
        <div class='flex-item achievement-item' fxFlex mdTooltip='总赞数'>
          <md-icon>favorite</md-icon>
          <span>{{user.totalLikes}}</span>
        </div>
      </div>
    </md-card>
  </div>

  <div class='other-info-container'>
    <md-card>
      <md-tab-group md-stretch-tabs="always">
        <md-tab label="基本信息">
          <form #otherInfo='ngForm' class='other-info-form'>
            <md-input-container>
              <input mdInput placeholder='电子邮箱' name='email' [ngModel]='user.email'>
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder='自我介绍' name='introduction' [ngModel]='user.introduction'>
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder='擅长领域' name='field' [ngModel]='user.field'>
            </md-input-container>
            <div class='error-message' *ngIf='errorMessage != ""'>{{errorMessage}}</div>
            <button md-raised-button (click)='updateUserInfo(otherInfo.value)' class='submit-change-button'>提交修改</button>
          </form>
        </md-tab>
        <md-tab label="文章信息" *ngIf='articles != null'>
          <div class='article-info'>
            <!-- 可以考虑按年月来划分 -->
            <md-list *ngIf='articles.length != 0'>
              <md-list-item  *ngFor = 'let article of articles'>
                <h4 md-line>{{article.title}}</h4>
                <p md-line> {{getDateString(article.date)}} </p>
                <button md-icon-button class='edit-button' (click)='editArticle(article.title)'>
                  <md-icon>mode_edit</md-icon>
                </button>
                <button md-icon-button class='delete-button' (click)='deleteArticle(article)'>
                  <md-icon>delete</md-icon>
                </button>
              </md-list-item>
            </md-list>
            <div class="empty-article" *ngIf='articles.length == 0'>
              <button md-raised-button (click)='gotoEdit()' class='goto-edit-button'>创建文章</button>
            </div>
          </div>
        </md-tab>
        <md-tab label="权限设置">
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
</div>
